<h2 mat-dialog-title>update New Category</h2>
<form [formGroup]="editCategoryForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content >
    <mat-form-field class="name w-full">
      <mat-label>name</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="enter category name"
        class="!w-full"
      />
      @if(editCategoryForm.get("name")?.getError("required")){
      <mat-error>Category name is required</mat-error>
      }
    </mat-form-field>

    <label class="block mb-2 text-sm font-medium" for="file_input"
      >Upload Category Image</label
    >
    <input
      class="fileInput"
      id="file_input"
      type="file"
      (change)="onFileSelected($event)"
    />
  </mat-dialog-content>
  <mat-dialog-actions class="dialogAction">
    <button mat-button mat-dialog-close class="cancelButton">Cancel</button>
    <button mat-button cdkFocusInitial type="submit" class="Button">
      update
    </button>
  </mat-dialog-actions>
</form>
